force-app/main/default/flows/Complete_all_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Complete all Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete all Tasks</label>
    <loops>
        <name>loop_tasks</name>
        <label>loop tasks</label>
        <locationX>562</locationX>
        <locationY>170</locationY>
        <assignNextValueToReference>loop_task</assignNextValueToReference>
        <collectionReference>get_all_tasks_related_to_recordId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_task_to_closed</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_tasks_related_to_recordId</name>
        <label>get all tasks related to recordId</label>
        <locationX>333</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_tasks</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Offen</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>set_task_to_closed</name>
        <label>set task to closed</label>
        <locationX>562</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>loop_tasks</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abgeschlossen</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>142</locationX>
        <locationY>171</locationY>
        <connector>
            <targetReference>get_all_tasks_related_to_recordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loop_task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
