force-app/main/default/flows/Lead_Priorisiert_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>today_is_weekday</name>
        <label>today is weekday</label>
        <locationX>309</locationX>
        <locationY>132</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>today_is_weekday_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_weekday_of_today</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formula_weekday_of_today</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_leads_priorisiert_more_than_7_days</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_today_minus_8</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 8</expression>
    </formulas>
    <formulas>
        <name>formula_weekday_of_today</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lead Priorisiert Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Priorisiert Reminder</label>
    <loops>
        <name>loop_over_leads</name>
        <label>loop over leads</label>
        <locationX>726</locationX>
        <locationY>130</locationY>
        <assignNextValueToReference>loop_lead</assignNextValueToReference>
        <collectionReference>get_leads_priorisiert_more_than_7_days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_reminder_task</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_reminder_task</name>
        <label>create reminder task</label>
        <locationX>726</locationX>
        <locationY>339</locationY>
        <connector>
            <targetReference>loop_over_leads</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>loop_lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Offen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Priorisierter Lead: Reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>loop_lead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_leads_priorisiert_more_than_7_days</name>
        <label>get leads priorisiert more than 7 days</label>
        <locationX>516</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_leads</targetReference>
        </connector>
        <filters>
            <field>Stage_Tracking_CallPitchFollowUp_in__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>formula_today_minus_8</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call/Pitch Follow Up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>150</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>today_is_weekday</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-03-24</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>loop_lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
