force-app/main/default/flows/Lead_Inactivity_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>set_has_open_reminder_tasks_true</name>
        <label>set has open reminder tasks true</label>
        <locationX>710</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>has_open_reminder_task</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_reminder_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_task_name_for_in_kontakt</name>
        <label>set task name for in kontakt</label>
        <locationX>1666</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>string_task_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reminder: Wiederaufnahme Kontakt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_reminder_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_task_name_for_priorisiert</name>
        <label>set task name for priorisiert</label>
        <locationX>1760</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>string_task_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reminder: Lead vorantreiben</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_reminder_task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_has_open_reminder_tasks</name>
        <label>dec has open reminder tasks</label>
        <locationX>950</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>dec_last_activity_created_needs_reminder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>has no open reminder tasks</defaultConnectorLabel>
        <rules>
            <name>dec_has_open_reminder_tasks_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>has_open_reminder_task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_leads</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_last_activity_created_needs_reminder</name>
        <label>last activity / created: needs reminder</label>
        <locationX>1201</locationX>
        <locationY>277</locationY>
        <defaultConnector>
            <targetReference>loop_leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no reminder needed</defaultConnectorLabel>
        <rules>
            <name>reminder_needed</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>loop_lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In_Kontakt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_lead.Letzte_Aktivitaet_Erstelldatum__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>formula_today_minus_30</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call/Pitch Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_lead.Letzte_Aktivitaet_Erstelldatum__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>formula_today_minus_7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_loop_lead_status</targetReference>
            </connector>
            <label>reminder needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_loop_lead_status</name>
        <label>decision loop lead status</label>
        <locationX>1410</locationX>
        <locationY>274</locationY>
        <defaultConnector>
            <targetReference>set_task_name_for_priorisiert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>priorisiert</defaultConnectorLabel>
        <rules>
            <name>outcome_in_kontakt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In_Kontakt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_task_name_for_in_kontakt</targetReference>
            </connector>
            <label>in kontakt</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_today_minus_30</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 30</expression>
    </formulas>
    <formulas>
        <name>formula_today_minus_7</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 7</expression>
    </formulas>
    <interviewLabel>Lead Inactivity Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Last Activity Reminder</label>
    <loops>
        <name>loop_leads</name>
        <label>loop leads</label>
        <locationX>634</locationX>
        <locationY>219</locationY>
        <assignNextValueToReference>loop_lead</assignNextValueToReference>
        <collectionReference>get_leads_in_kontakt_priorisiert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_open_reminder_tasks</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop_reminder_tasks</name>
        <label>loop reminder tasks</label>
        <locationX>711</locationX>
        <locationY>452</locationY>
        <assignNextValueToReference>loop_task</assignNextValueToReference>
        <collectionReference>get_open_reminder_tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_has_open_reminder_tasks_true</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_has_open_reminder_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_reminder_task</name>
        <label>create reminder task</label>
        <locationX>1752</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>loop_leads</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>loop_lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Offen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>string_task_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Inactivity Reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>loop_lead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_leads_in_kontakt_priorisiert</name>
        <label>get leads in kontakt &amp; priorisiert</label>
        <locationX>392</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_leads</targetReference>
        </connector>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Importiert</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cold Outreach</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Dropped</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Konvertiert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_open_reminder_tasks</name>
        <label>get open reminder tasks</label>
        <locationX>510</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_reminder_tasks</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Offen</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactivity Reminder</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>196</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>get_leads_in_kontakt_priorisiert</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-04-09</startDate>
            <startTime>03:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>has_open_reminder_task</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>loop_lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>loop_task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>string_task_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
