force-app/main/default/flows/Lead_Postponed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>custom_date_choice</name>
        <choiceText>Benutzerdefiniert</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>99.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>month_choice_1</name>
        <choiceText>1 Monat</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>month_choice_2</name>
        <choiceText>2 Monate</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>month_choice_3</name>
        <choiceText>3 Monate</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>month_choice_4</name>
        <choiceText>4 Monate</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>month_choice_5</name>
        <choiceText>5 Monate</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>status_choice_in_kontakt</name>
        <choiceText>In Kontakt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In_Kontakt</stringValue>
        </value>
    </choices>
    <choices>
        <name>status_choice_priorisiert</name>
        <choiceText>Priorisiert</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call/Pitch Follow Up</stringValue>
        </value>
    </choices>
    <formulas>
        <name>formula_update_wiedervorlage_date</name>
        <dataType>Date</dataType>
        <expression>IF({!months_postponed} = 99, {!custom_date_input}, {!$Flow.CurrentDate} + ({!months_postponed} * 30))</expression>
    </formulas>
    <interviewLabel>Lead Postponed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Postponed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>reset_flow_flag</name>
        <label>reset flow flag</label>
        <locationX>666</locationX>
        <locationY>167</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wiedervorlage_set_by_Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_lead_to_postponed</name>
        <label>set lead to postponed</label>
        <locationX>486</locationX>
        <locationY>167</locationY>
        <connector>
            <targetReference>reset_flow_flag</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wiedervorlage_Status__c</field>
            <value>
                <elementReference>status_postponed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wiedervorlage_am__c</field>
            <value>
                <elementReference>formula_update_wiedervorlage_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wiedervorlage_set_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Postponed_Screen</name>
        <label>Postponed Screen</label>
        <locationX>307</locationX>
        <locationY>167</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>set_lead_to_postponed</targetReference>
        </connector>
        <fields>
            <name>months_postponed</name>
            <choiceReferences>month_choice_1</choiceReferences>
            <choiceReferences>month_choice_2</choiceReferences>
            <choiceReferences>month_choice_3</choiceReferences>
            <choiceReferences>month_choice_4</choiceReferences>
            <choiceReferences>month_choice_5</choiceReferences>
            <choiceReferences>custom_date_choice</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>month_choice_3</defaultSelectedChoiceReference>
            <fieldText>Monate bis zur Wiedervorlage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>custom_date_input</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Benutzerdefiniertes Datum</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>months_postponed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>custom_date_choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>status_postponed</name>
            <choiceReferences>status_choice_in_kontakt</choiceReferences>
            <choiceReferences>status_choice_priorisiert</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>status_choice_in_kontakt</defaultSelectedChoiceReference>
            <fieldText>Status bei Wiedervorlage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>143</locationX>
        <locationY>167</locationY>
        <connector>
            <targetReference>Postponed_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
