force-app/main/default/flows/Match_Contact_Events_to_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>set_latest_opp</name>
        <label>set latest opp</label>
        <locationX>1101</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>latest_opp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_event_whatid</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>latest_opp_null</name>
        <label>latest opp null?</label>
        <locationX>512</locationX>
        <locationY>646</locationY>
        <defaultConnector>
            <targetReference>opp_newer_than_latest_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true_latest_opp_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>latest_opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_latest_opp</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>opp_newer_than_latest_opp</name>
        <label>opp newer than latest opp?</label>
        <locationX>738</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>loop_contact_roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true_opp_newer_than_latest_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opp.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>latest_opp.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_latest_opp</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <interviewLabel>Match Contact Events to Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Match Contact Events to Opp</label>
    <loops>
        <name>loop_contact_roles</name>
        <label>loop contact roles</label>
        <locationX>692</locationX>
        <locationY>209</locationY>
        <assignNextValueToReference>loop_contact_role</assignNextValueToReference>
        <collectionReference>get_contact_roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_opp</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contact_roles</name>
        <label>get contact roles</label>
        <locationX>386</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_contact_roles</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>event_whoid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp</name>
        <label>get opp</label>
        <locationX>519</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>latest_opp_null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_contact_role.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_event_whatid</name>
        <label>update event whatid</label>
        <locationX>1101</locationX>
        <locationY>209</locationY>
        <connector>
            <targetReference>loop_contact_roles</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>event_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>latest_opp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <start>
        <locationX>172</locationX>
        <locationY>136</locationY>
        <connector>
            <targetReference>get_contact_roles</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>event_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>event_whoid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>latest_opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>loop_contact_role</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
