force-app/main/default/flows/Opp_Last_Activity_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>set_has_open_reminder_tasks_true</name>
        <label>set has open reminder tasks true</label>
        <locationX>710</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>has_open_reminder_task</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_reminder_tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_has_open_reminder_tasks</name>
        <label>dec has open reminder tasks</label>
        <locationX>950</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>dec_last_activity_created_needs_reminder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>has no open reminder tasks</defaultConnectorLabel>
        <rules>
            <name>dec_has_open_reminder_tasks_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>has_open_reminder_task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_opps</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_last_activity_created_needs_reminder</name>
        <label>last activity / created: needs reminder</label>
        <locationX>1201</locationX>
        <locationY>277</locationY>
        <defaultConnector>
            <targetReference>loop_opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no reminder needed</defaultConnectorLabel>
        <rules>
            <name>reminder_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_opp.Letzte_Aktivitaet_Erstelldatum__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>formula_today_minus_7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_reminder_task</targetReference>
            </connector>
            <label>reminder needed</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_today_minus_7</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 7</expression>
    </formulas>
    <interviewLabel>Opp Last Activity Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp Last Activity Reminder</label>
    <loops>
        <name>loop_opps</name>
        <label>loop opps</label>
        <locationX>634</locationX>
        <locationY>219</locationY>
        <assignNextValueToReference>loop_opp</assignNextValueToReference>
        <collectionReference>get_open_opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_open_reminder_tasks</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop_reminder_tasks</name>
        <label>loop reminder tasks</label>
        <locationX>711</locationX>
        <locationY>452</locationY>
        <assignNextValueToReference>loop_task</assignNextValueToReference>
        <collectionReference>get_open_reminder_tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_has_open_reminder_tasks_true</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_has_open_reminder_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_reminder_task</name>
        <label>create reminder task</label>
        <locationX>1456</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>loop_opps</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>loop_opp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Offen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Test Task Name Opp Reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Inactivity Reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>loop_opp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_open_opps</name>
        <label>get open opps</label>
        <locationX>392</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_opps</targetReference>
        </connector>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_open_reminder_tasks</name>
        <label>get open reminder tasks</label>
        <locationX>510</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_reminder_tasks</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Offen</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactivity Reminder</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_opp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>196</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>get_open_opps</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-04-09</startDate>
            <startTime>03:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>has_open_reminder_task</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>loop_opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>loop_task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
