force-app/main/default/flows/Opportunity_Lost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <dynamicChoiceSets>
        <name>opp_lost_reasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loss_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Opportunity Lost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Lost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>519</locationX>
        <locationY>124</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loss_Reason_Other__c</field>
            <value>
                <elementReference>Loss_Reason_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Reason__c</field>
            <value>
                <elementReference>Loss_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_to_Competitor__c</field>
            <value>
                <elementReference>Competitor_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Lost_Dialog</name>
        <label>Lost Dialog</label>
        <locationX>337</locationX>
        <locationY>124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <fields>
            <name>set_to_lost_message</name>
            <fieldText>&lt;p&gt;This will set the Opportunity Stage to Lost.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Loss_Reason</name>
            <choiceReferences>opp_lost_reasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Loss Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Loss_Reason_Other</name>
            <dataType>String</dataType>
            <fieldText>Loss Reason Other</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loss_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Competitor_Name</name>
            <dataType>String</dataType>
            <fieldText>Competitor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loss_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lost to Competitor</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>166</locationX>
        <locationY>124</locationY>
        <connector>
            <targetReference>Lost_Dialog</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>opp_to_lost</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
