force-app/main/default/flows/Reactivate_postponed_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_reminder_tasks_count</name>
        <label>assign reminder tasks count</label>
        <locationX>912</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>reminder_tasks_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_reminder_tasks_for_lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_loop_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_wiedervorlage_status</name>
        <label>assign wiedervorlage status</label>
        <locationX>592</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>loop_lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_lead.Wiedervorlage_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_lead.Wiedervorlage_am__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_lead.Wiedervorlage_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>get_reminder_tasks_for_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_task_name_for_in_kontakt</name>
        <label>set task name for in kontakt</label>
        <locationX>1576</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>string_task_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reminder: Wiederaufnahme Kontakt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_reactivation_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_task_name_for_priorisiert</name>
        <label>set task name for priorisiert</label>
        <locationX>1660</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>string_task_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reminder: Lead wieder vorantreiben</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_reactivation_task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>already_existing_reminder_tasks</name>
        <label>already existing reminder tasks</label>
        <locationX>1199</locationX>
        <locationY>269</locationY>
        <defaultConnector>
            <targetReference>decision_loop_lead_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no existing tasks</defaultConnectorLabel>
        <rules>
            <name>already_existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>reminder_tasks_count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_leads</targetReference>
            </connector>
            <label>already existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_loop_lead_status</name>
        <label>decision loop lead status</label>
        <locationX>1377</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>set_task_name_for_priorisiert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>priorisiert</defaultConnectorLabel>
        <rules>
            <name>outcome_in_kontakt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In_Kontakt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_task_name_for_in_kontakt</targetReference>
            </connector>
            <label>in kontakt</label>
        </rules>
    </decisions>
    <interviewLabel>Reactivate postponed Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reactivate postponed Leads</label>
    <loops>
        <name>loop_over_leads</name>
        <label>loop over leads</label>
        <locationX>758</locationX>
        <locationY>156</locationY>
        <assignNextValueToReference>loop_lead</assignNextValueToReference>
        <collectionReference>get_postponed_leads_today</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_wiedervorlage_status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_reactivation_task</name>
        <label>create reactivation task</label>
        <locationX>1652</locationX>
        <locationY>148</locationY>
        <connector>
            <targetReference>loop_over_leads</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>loop_lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Offen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>string_task_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Inactivity Reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>loop_lead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_postponed_leads_today</name>
        <label>get postponed leads today</label>
        <locationX>517</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_leads</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Wiedervorlage_am__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_reminder_tasks_for_lead</name>
        <label>get reminder tasks for lead</label>
        <locationX>753</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_reminder_tasks_count</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactivity Reminder</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_loop_lead</name>
        <label>update loop lead</label>
        <locationX>1050</locationX>
        <locationY>348</locationY>
        <connector>
            <targetReference>already_existing_reminder_tasks</targetReference>
        </connector>
        <inputReference>loop_lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>98</locationX>
        <locationY>96</locationY>
        <connector>
            <targetReference>get_postponed_leads_today</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-04-09</startDate>
            <startTime>04:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>loop_lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>loop_lead_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reminder_tasks_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>string_task_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
