force-app/main/default/flows/Reactivate_postponed_Opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_wiedervorlage_status</name>
        <label>assign wiedervorlage status</label>
        <locationX>462</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>loop_opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_opp.Wiedervorlage_Phase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_opp.Wiedervorlage_am__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_opp.Wiedervorlage_Phase__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>update_loop_opp</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Reactivate postponed Opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reactivate postponed Opps</label>
    <loops>
        <name>loop_over_opps</name>
        <label>loop over opps</label>
        <locationX>617</locationX>
        <locationY>156</locationY>
        <assignNextValueToReference>loop_opp</assignNextValueToReference>
        <collectionReference>get_postponed_opps_today</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_wiedervorlage_status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_reactivation_task</name>
        <label>create reactivation task</label>
        <locationX>777</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>loop_over_opps</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>loop_opp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Offen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Reminder: Opp reaktivieren</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>loop_opp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_postponed_opps_today</name>
        <label>get postponed opps today</label>
        <locationX>376</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_opps</targetReference>
        </connector>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Wiedervorlage_am__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_loop_opp</name>
        <label>update loop opp</label>
        <locationX>630</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>create_reactivation_task</targetReference>
        </connector>
        <inputReference>loop_opp</inputReference>
    </recordUpdates>
    <start>
        <locationX>177</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>get_postponed_opps_today</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-03-31</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>loop_opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
