force-app/main/default/flows/Update_Monthly_Goal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_opp_amount</name>
        <label>add opp amount</label>
        <locationX>686</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>monthly_amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_opp.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_opps</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>formula_opp_month</name>
        <dataType>Number</dataType>
        <expression>MONTH({!Get_Init_Opp.CloseDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_opp_year</name>
        <dataType>Number</dataType>
        <expression>YEAR({!Get_Init_Opp.CloseDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Monthly Goal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Monthly Goal</label>
    <loops>
        <name>loop_over_opps</name>
        <label>loop over opps</label>
        <locationX>686</locationX>
        <locationY>129</locationY>
        <assignNextValueToReference>loop_opp</assignNextValueToReference>
        <collectionReference>get_opps_in_month</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_opp_amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_monthly_goal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Init_Opp</name>
        <label>Get Init Opp</label>
        <locationX>329</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_opps_in_month</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opps_in_month</name>
        <label>get opps in month</label>
        <locationX>496</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_opps</targetReference>
        </connector>
        <filters>
            <field>opp_month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_opp_month</elementReference>
            </value>
        </filters>
        <filters>
            <field>opp_year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_opp_year</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_monthly_goal</name>
        <label>update monthly goal</label>
        <locationX>916</locationX>
        <locationY>132</locationY>
        <filters>
            <field>goal_month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_opp_month</elementReference>
            </value>
        </filters>
        <filters>
            <field>goal_year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_opp_year</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Betrag_im_Zielmonat__c</field>
            <value>
                <elementReference>monthly_amount</elementReference>
            </value>
        </inputAssignments>
        <object>Goal__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>129</locationY>
        <connector>
            <targetReference>Get_Init_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loop_opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>monthly_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
