force-app/main/default/flows/Update_Campaign_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>concat_user_id</name>
        <dataType>String</dataType>
        <expression>{!get_updated_campaign.users_on_campaign__c} + &quot;/&quot; + {!loop_cuj.User__c}</expression>
    </formulas>
    <interviewLabel>Update Campaign Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Campaign Users</label>
    <loops>
        <name>loop_over_all_cuj</name>
        <label>loop over all cuj</label>
        <locationX>821</locationX>
        <locationY>150</locationY>
        <assignNextValueToReference>loop_cuj</assignNextValueToReference>
        <collectionReference>get_all_cuj_from_campaign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_updated_campaign</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_cuj_from_campaign</name>
        <label>get all cuj from campaign</label>
        <locationX>631</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_all_cuj</targetReference>
        </connector>
        <filters>
            <field>Kampagne__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_init_campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignUserJunction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_init_campaign</name>
        <label>get init campaign</label>
        <locationX>329</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>clear_users_on_campaign</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_updated_campaign</name>
        <label>get updated campaign</label>
        <locationX>700</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>concat_user_id_to_users_on_campaign</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>clear_users_on_campaign</name>
        <label>clear users_on_campaign</label>
        <locationX>483</locationX>
        <locationY>150</locationY>
        <connector>
            <targetReference>get_all_cuj_from_campaign</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_init_campaign.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>users_on_campaign__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <name>concat_user_id_to_users_on_campaign</name>
        <label>concat user id to users on campaign</label>
        <locationX>940</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>loop_over_all_cuj</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>users_on_campaign__c</field>
            <value>
                <elementReference>concat_user_id</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>150</locationY>
        <connector>
            <targetReference>get_init_campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loop_cuj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignUserJunction__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
